body {
    padding: 0px;
    margin: 0px;
    background-color: #0e81b6;
}

/* Start NavBar CSS */

#TopBar {
    background-color: #0e81b6;
    width: 100%;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

#NavBar {
    margin: 0px;
    padding: 0px;
    float: right;
    width: 375px;
    height: 100%;
}

#NavUnorderedList {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #0e81b6;
    height: 50px;
}

.NavListItem {
    height: 100%;
    margin: 0px;
    display: inline;
    line-height: 50px;
}

.NavLink {
    height: 100%;
    margin: 0px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.NavLink:hover{
    background-color: grey;
}

/* Start Intro CSS */

#IntroDiv {
    padding: 0px;
    margin: 0px; 
    width: 100%;
    height: 1065px;
    background-image: url(BinaryBackgroud.png);
    position: relative;
}

#IntroBlock{
    background-color: #0e81b6;
    height: 315px;
    width: 550px;
    top: 100px;
    left: 50%;
    position: absolute;
    margin-left: -275px;
}

#NameText{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: Alice;
    font-size: 74.2px; 
    font-style: normal; 
    font-variant: normal;
    line-height: 74.2px;
    text-align: center;
}

#TitleText{
    padding: 0px;
    color: white;
    font-family: Alice;
    font-size: 26px; 
    font-style: normal; 
    font-variant: normal;
    line-height: 26px;
    text-align: center;
    margin-top: 20px;
}

#SocialIconDiv{
    width: 100%;
    height: 150px;
    padding: 0px;
    margin: 0px;
}

#GithubIcon {
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 150px;
    margin-top: 15px;
}

#LinkedinIcon {
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 50px;
    margin-top: 15px;
}

/*Start About Me CSS */
#AboutDiv {
    width: 100%;
    height: 1080px;
    background-color: #0e81b6;
    position: relative;
}

#PictureColumn {
    margin: 0px;
    padding: 0px;
    height: 500px;
    width: 40%;
    float: left;
}

#ConnorImage {
    border-radius: 50%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#TextColumn {
    margin: 0px;
    padding: 0px;
    height: 500px;
    width: 60%;
    float: left;
}

#WelcomeHeader{
    color: white;
    font-family: Alice;
    font-size: 50px; 
    font-style: normal; 
    font-variant: normal;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0px;
}

#WelcomeParagraph{
    color: white;
    font-family: Alice;
    font-size: 30px; 
    font-style: normal; 
    font-variant: normal;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

/* When screen size hits 1000px, puts width of PictureColumn and TextColumn next to each other*/
@media only screen and (max-width: 1000px) {
    #PictureColumn {
      width: 100%;
    }
    #TextColumn {
        width: 100%;
      }
  }

  /* Start Experiences Section CSS*/

#ExperiencesDiv {
    background-color: white;
    height: 1285px;
    width: 100%;
}

#ExperiencesHeader {
    color: #0e81b6;
    font-family: Alice;
    font-size: 50px; 
    font-style: normal; 
    font-variant: normal;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 0px;
    margin-top: 0px;
}

/* Gonna have a left and right column. Visually the circles will probably go on the right.
    When screen hits a certain size, each column width will go to 100% and the columns will
    be above and below each other.
*/

#leftExperiencesColumn{
    background-color: purple;
    width: 33.3%;
    float: left;
    height: 500px;
}

#middleExperiencesColumn{
    background-color: yellow;
    width: 33.3%;
    float: left;
}

#rightExperiencesColumn{
    background-color: orange;
    width: 33.3%;
    float: left;
    height: 500px;
    
}

/* When screen size hits 1000px, hides rightExperiences Column and adjust other two columns*/
@media only screen and (max-width: 800px) {
    #leftExperiencesColumn {
      width: 50%;
    }
    #middleExperiencesColumn {
        width: 50%;
    }
    /*Could also set width to 100% here and it would go below*/
    #rightExperiencesColumn{
        display:none;
    }

  }

#CirclesColumn{
    background-color: green;
    width: 200px;
    height: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.ExperiencesOuterCircle {
    background-color: #0e81b6;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    margin-left: 0px;
}

.ExperiencesOuterCircle:hover{
    background-color: grey;
}

.ExperiencesInnerCircle {
    border-radius: 50%;
    height: 170px;
    display: block;
    top: 50%;
    left: 50%;
    margin: -85px 0px 0px -85px;
    position: absolute;
}

.ExperiencesArrow{
    background-color: purple;
    width: 26px;
    height: 125px;
    margin-left: 87px;
    margin-top: -20px;
    margin-bottom: -20px;
}